.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.indexBlock {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  width: 620px;
  margin: 0 auto;
  color: #282c34;
  text-decoration: none;
}

.indexBlock p {
  color: #a5a5a5;
  text-decoration: none;
}

.navbar {
  background-color: #3DC4FC;
  padding: 30px;
}

#eachBeer {
  padding: 20px;
  display: flex;
}

#eachBeerContent {
  text-align: left;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#singleBeerBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 450px;
  margin: 0 auto;

}